TCC/
imgs_tommy/
preprocessadas/
preprocessadas1/
preprocessadas2/
features/
features2/
reference_values/
resampling/
dados_sst.xls
dados_predict.csv
real_repeated.csv
results/
predictions/
ultimate_exp.xlsx
plots/
results_r2.csv
results_rmse.csv
imgs_tommy2/
tikz data/
stats_analysis/
